<div class="slide-out-bg"></div>

<div class="slide-out">
	<div class="slide-out-card">
		<a href="/leads" class="btn-back">
			<span class="sr-only">Back</span>
		</a>
		<div class="slide-out-heading">
			<div class="title">
				<h3>{{model.first}} {{model.last}}</h3>
				<div class="actions">
					<LinkTo @route="lead.edit" @model={{model}}>
						<button class="btn-pop">Edit</button>
					</LinkTo>
					<button class="btn-recessed" onclick={{action "deleteLead" model}}>
						Delete
					</button>
				</div>
			</div>
		</div>

		<div class="slide-out-content"></div>
	</div>
</div>